<div class="navbar">

  <%= link_to root_path do %>
    <%= image_tag 'CreativeCombine_v0.3.png', width: '40px', height: '40px' %>
  <% end %>
  <div class="pull-right small white-text">
    <%= render partial: 'navbar/user_block' %>
  </div>

</div>