<div class="centered" style="margin-top: -150px; z-index: 5;">
  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to omniauth_authorize_path(resource_name, provider), class: 'btn btn-sm twitch-button', style: 'width:200px;' do %>
              <%= image_tag 'Glitch_White_RGB.png', alt:'Creative Combine Logo', style: 'width:20px; height:20px; margin-right:10px;' %> <%= "Log in with #{OmniAuth::Utils.camelize(provider)}".upcase %>
          <% end %>
    <% end -%>
  <% end -%>
</div>