<div class="centered white-text">
  <div class="centered" style="margin-top: 50px;">
    <div>
      <%= image_tag 'CreativeCombine_Logo_WithShadow_01', alt: 'Creative Combine Logo' %>
    </div>
  </div>
  <%= render "devise/shared/links" %>
</div>