<div class="centered white-text">
  <p>Welcome to Creative Combine's website!</p>
  <p>There is nothing here yet, but you're welcome to stay for as long as you please.</p>
  <br />
  <%= image_tag 'CreativeCombine_Logo_WithShadow_01.png' %>
</div>