<div class="centered" style="margin-top: 50px;">
  <div>
    <%= link_to 'https://go.twitch.tv/communities/creativecombine/details' do %>
        <%= image_tag 'CreativeCombine_Logo_WithShadow_01.png', alt: 'Creative Combine Logo', class: 'image-link', target: '_blank' %>
    <% end %>
  </div>
</div>

<div class="centered white-text" style="margin-top: -150px; z-index: 5;">
  <% if user_signed_in? %>
      Hello, <%= @user.username %>
  <% else %>
      Please sign in, yo!
  <% end %>
</div>