<div class="centered" style="margin-top: 50px;">
  <div>
    <%= image_tag 'CreativeCombine_Logo_WithShadow_01', alt: 'Creative Combine Logo' %>
  </div>
</div>

<div class="centered white-text" style="margin-top: -150px; z-index: 5;">
  <%= image_tag current_user.image_url %> <%= current_user.username %><br />
  <br />
  One of us...
</div>